.update {
  background-color: teal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update .autocomplete-dropdown-container div {
  padding: 5%;
}

.update input {
  width: 30rem;
}

.address {
  display: block;
  margin: auto;
}

.controls {
  margin: 2% 0;
}

.profileImage {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profileImage img {
  max-width: 6rem;
  max-height: 6rem;
}

.information {
  position: relative;
}
